<h1>Edit your Shopping List</h1>

<%= form_for @list do |f| %>
  <%= f.label :name %> :
  <%= f.text_field :name %>
  <%= f.label :sku_number %> :
  <%= f.text_field :description  %>
  <%= f.label :price %> :
  <%= f.text_field :price  %>
  <%= f.label :quantity %> :
  <%= f.text_field :quantity %>
  <%= f.submit 'Update List' %>
<% end %>
