

<h1>My Shopping List | <%= link_to 'Add a new item', new_list_path %></h1>
<%= react_component('Lists', lists: @lists) %>

<!--
  <% @lists.each do |list| %>
  <h1><%= link_to list.name, list_path(list) %></h1> |
  <i>SKU#:<%= list.description %></i> |
  <i>Price: <%= list.price %></i> |
  <i>quantity: <%= list.quantity %></i>
  <% end %>  -->
