<h1><%= @list.name %> <%= link_to 'Edit', edit_list_path(@list) %>| <%= link_to 'Delete', list_path(@list), method: :delete, data: {confirm:'Are you sure you want to delete this?'} %></h1>
<i><%= @list.description %></i>
<i><%= @list.name %></i>
<i><%= @list.description %></i>
<i><%= @list.price %></i>
<i><%= @list.quantity %></i>

<h1>Add an item </h1>
<%= form_for @list, url: list_path(@list) do |f| %>
  <%= f.label :name %> :
  <%= f.text_field :name %>
  <%= f.label :sku_number %> :
  <%= f.text_field :description  %>
  <%= f.label :price %> :
  <%= f.text_field :price  %>
  <%= f.label :quantity %> :
  <%= f.text_field :quantity  %>
  <%= f.submit 'Create List' %>
<% end %>
